/* fonts style starts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* fonts style ends */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif;
    background-color: rgba(17, 17, 17, 0.9);
}
/* ========== shared style starts =========== */
.btn_primary{
    background-color: #FD6E0A;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 18px;
}

/* --------------- shared style ends ---------- */
/* ============= nav styles starts ==============*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
    padding-top: 20px;
}
.nav_list_items #bars{
    color: white;
    font-size: 30px;
    display: none;
}

 nav h3{
    font-weight: Extra bold;
    font-style: italic;
    color: #E6533C;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 36px
 }
nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav li a {
    text-decoration: none;
    font-size: 18px;
    color: #FFF;
}
/* --------------- nav style ends ---------- */ 
/* =========== banner starts ================ */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 200px 0 200px;
}
.banner_content{
    max-width: 580px;
}
.banner_content h2{
    font-size: 78px;
    color: white;
    font-weight: 900;
}
.banner_content span{
    font-style: italic;
}
.banner_content p{
    font-size: 16px;
    font-weight: 400;
    /* color: lightgray; */
    color: rgba(255, 255, 255, 0.50);
    margin: 30px 0;
}
.btn_dwn{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    font-weight: 600;
    color: white;
    padding: 10px 30px;
    font-size: 18px;
    background-color: rgba(17, 17, 17, 1);
}
.banner_content span{
    font-size: 78px;
    color: #FFF;
    font-style: italic;
    font-weight: 400;
}
.banner_greetings{
    font-size: 45px;
    font-weight: 600;  
}
.banner_title{
    font-size: 70px;
    font-weight: bold;
}

.banner_profile_image{
    width: 390px;
    height: 580px;
}
/* ------------ banner part ends -------------- */

/* =============== change your habit part starts =============== */
.habit_description{
    max-width: 600px;
    margin: 0 auto;
    text-align:  center;
}
.habit_description h3{
    color: white;
    font-size: 48px;
    font-weight: 900;
}
.habit_description p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 50px;
}
.habit_image_section{
    display: flex;
    max-width: 1044px;
    margin: 0 auto;
}
.habit_single_part{
    text-align: center;
}
.habit_single_part img{
    border-radius: 50%;
}
.habit_single_part h4{
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.habit_single_part p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 100px;
}
/* -------------change your habit part endss------------- */
/* =========== run extra mile part starts */
.run_extra_mile{
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    max-width: 1060px;
    margin: 0 auto;
    border-radius: 8px;
}
.run_description{
    padding: 40px 130px 0px 50px ;

}
.run_description h3{
    color: white;
    font-size: 48px;
    font-weight: 900;
}
.run_description p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 30px;
}
.run_image img{
   
    width: 100%;
    padding: 40px;
    border-radius: 60px;
}
/* -------------run extra mile part ends------------- */
/* ============= bmi calculator part starts============== */
.bmi_calculator{
    max-width: 670px;
    margin: 50px auto;
}
.bmi_calculator h3{
    color: white;
    font-size: 48px;
    font-weight: 800;
}
.bmi_calculator p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    padding-top: 15px;
    
}
/* ------------- bmi calculator part ends------------- */
/* ============= bmi chart part starts */
.bmi_chart_part{
    background-color: rgba(34, 34, 34, 1);
    padding-bottom: 30px;
}
.bmi_chart_part{
    max-width: 1440px;
    margin: 0 auto;
}
.bmi_box{
    display: flex;
    /* justify-content: space-between; */
}
.bmi_table{
    padding-left: 170px;
    padding-right: 180px;
}
.bmi_table h3{
    color: white;
    font-size: 28px;
    font-weight: 900;
    padding-top: 50px;
    padding-bottom: 50px;
}
table{
    max-width: 310px;
    margin: 0 auto;
    padding: 10px;
}
table , th, td{
    border:1px solid lightgray;
    text-align: center;
  }
tr > th, td {
    color: white;
    padding: 5px 10px ;
}
.bmi_info h3{
    color: white;
    font-size: 28px;
    font-weight: 900;
    padding-top: 50px;
    padding-bottom: 10px;
}
.bmi_info p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 30px;
}
.bmi_info input{
    padding: 10px 50px 10px 20px;
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}
.double_input_box{
    max-width: 480px;
    position: relative;
}
.double_input_box > input{
    width: 100%;
}
.bmi_info #first_arrow{
    color: white;
    margin-left: -30px;
}
#second_arrow{
    position: absolute;
    color: white;
    margin-left: -25px;
    margin-top: 10px;

}
/* ------------- bmi chart part ends------------- */
/* ============= meet our team part */
.our_team_part{
    max-width: 1060px;
    margin: 0 auto;
}
.team_description{
    text-align: center;
}
.team_description h3 {
    color: white;
    font-size: 28px;
    font-weight: 900;
    padding-top: 50px;
    padding-bottom: 10px;
}
.team_description p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 30px;
}
.team_images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 30px;
    background-color: #222;
    padding: 20px 30px;
    border-radius: 20px;
    margin-bottom: 60px;

    
}
.trainer_pic{
    max-width: 3000px;
    height: 270px;
     
}
.trainer_pic img{
    width: 100%;
    border-radius: 30px;
    height: 100%;
    /* margin-bottom: 20px; */
}
.team_single_image h4{
    color: white;
    font-size: 20px;
    font-weight: 900;
    margin-top: -50px;
    margin-left: 30px;
}
.team_single_image h5{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    /* margin-top: -50px; */
    margin-left: 30px;
}
/* ------------- meet our team part ends------------- */
/* ============ footer part starts */
.footer_part{
    max-width: 1060px;
    margin: 0 auto 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 50px;
}
.footer_left{
    max-width: 445px;
    margin: 0 auto;
    padding-left: 10px;
}
.footer_left h2{
    color: #E6533C;
    font-size: 70px;
    font-weight: 700;
}
.footer_left p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}
.footer_right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer_right_first h3{
    color: white;
    font-size: 32px;
    font-weight: 600;
}
.footer_right_second h3{
    color: white;
    font-size: 32px;
    font-weight: 600;
}
ul > li{
    color: rgba(255, 255, 255, 0.5);
    list-style: none;
    padding-top: 20px;
}
.footer_down{
    margin: 30px 0px;

}
.footer_down h4{
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.hide{
    display: none;
}

