/* fonts style starts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* fonts style ends */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif;
    background-color: rgba(17, 17, 17, 0.9);
}
/* ========== shared style starts =========== */
/* .secondary_bg{
    background-color: #FFF8F3;
} */
/* .text-primary{
    color: #FD6E0A;
} */
/* .dark_2{
    color: #474747;
} */
.btn_primary{
    background-color: #FD6E0A;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 18px;
}
/* .section_title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;

} */
/* .section_description{
    font-size: 18 px;
    font-weight: bold;
    color: #757575;

} */
/* .text_center{
    text-align: center;
} */
/* --------------- shared style ends ---------- */
 /* ============= nav styles ==============*/
 /* .header{
    background-image: url("../images/image\ 5.png");
    background-repeat: no-repeat;
    background-position: bottom right;
} */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
    padding-top: 20px;
}
/* .nav-title{
    font-weight: 800;
    font-size: 45px;
} */
 nav h3{
    font-weight: Extra bold;
    font-style: italic;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 36px
 }
nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav li a {
    text-decoration: none;
    font-size: 18px;
    color: #FFF;
}
/* --------------- nav style ends ---------- */
/* =========== banner starts ================ */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 200px 0 200px;
}
.banner_content{
    max-width: 580px;
}
.banner_content h2{
    font-size: 78px;
    color: white;
}
.banner_content p{
    font-size: 16px;
    font-weight: 400;
    /* color: lightgray; */
    color: (255, 255, 255, 0.50);
    margin: 30px 0;
}
.btn_dwn{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    font-weight: 600;
    color: white;
    padding: 10px 30px;
    font-size: 18px;
    background-color: rgba(17, 17, 17, 1);
}
.banner_content span{
    font-size: 78px;
    color: #FFF;
    font-style: italic;
    font-weight: 400;
}
.banner_greetings{
    font-size: 45px;
    font-weight: 600;  
}
.banner_title{
    font-size: 70px;
    font-weight: bold;
}

.banner_profile_image{
    width: 390px;
    height: 580px;
}

/* banner part ends */
/* change your habit part start */
.habit_description{
    max-width: 600px;
    margin: 0 auto;
    text-align:  center;
}
.habit_description h3{
    color: white;
    font-size: 48px;
    font-weight: 900;
    /* align-items: center; */
}
.habit_description p{
    color: (255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 50px;
}
.habit_image_section{
    display: flex;
    max-width: 1044px;
    margin: 0 auto;
}
.habit_single_part{
    text-align: center;
}
.habit_single_part img{
    border-radius: 50%;
}
.habit_single_part h4{
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.habit_single_part p{
    color: (255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 100px;
}
/* run extra mile part */
.run_extra_mile{
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    max-width: 1060px;
    margin: 0 auto;
    border-radius: 8px;
}
.run_description{
    padding: 40px 130px 0px 50px ;
    /* padding-right: 130px; */
}
.run_description h3{
    color: white;
    font-size: 48px;
    font-weight: 900;
    /* margin-top: 10px;
    margin-bottom: 5px; */
}
.run_description p{
    color: (255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 30px;
}
.run_image img{
    /* height: 370px; */
    width: 100%;
    padding: 40px;
    border-radius: 60px;
}

